---
layout: layouts/base
eleventyNavigation:
    key: Home
    order: 1
---
<div class="container--lg">
    <h1>Welcome to VioletRose!</h1>
    <p>This is my website where I do stuff and things.</p>
</div>