<style>
    footer {
        border-top: 1px solid;
    }
    .footer-content {
        text-align: center;
    }
</style>
<footer>
    <div class="container--lg footer-content">
        <p>
            &copy; Copyright {{  "now" | date: '%Y' }}
        </p>
        <p>
            <em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
        </p>
        <p>
            <a href="https://nekoweb.org/">
                <!-- button by milkyway.moe -->
                <img src="/media/buttons/nekoweb.webp"alt="nekoweb">
            </a>
            <a href="https://github.com/6TELOIV/violetro.se">
                <img src="/media/buttons/github.png" alt="Github">
            </a>
        </p>
    </div>
</footer>