---
layout: layouts/base
eleventyNavigation:
    key: Demos
    order: 2
---
<div class="container--lg">
    <h1>Demos</h1>
    <ul>
        <li><a href="trystero"><samp>trystero<samp></a> - a tech demo for serverless real-time p2p communication using <a href="https://github.com/dmotz/trystero">Trystreo</a>. If you don't have a friend to try it with, you can open two tabs to mess with it yourself!</li>
        <li><a href="pico-trystero"><samp>pico-trystero</samp></a> <strong>(WIP)</strong> - I want to make something similar to <a href="https://github.com/JRJurman/pico-socket">pico-socket</a> but with WebRTC instead of WebSockets, and using Trystero to create connections, meaning multiplayer pico8 games could be deployed to static sites and work.</li>
    </ul>
</div>