---
layout: layouts/default
eleventyNavigation:
    key: Sketches
    parent: Home
    order: 1
---
<h1>Sketches</h1>
<p>I try to keep this updated with my drawing practices.</p>
<div style="background: ButtonFace; color: ButtonText; border: 1px solid ButtonBorder; padding: 1em">
    <blockquote>
        <p>Every day it gets a little easier… But you gotta do it every day &dash; that&rsquo;s the hard part. But it does get easier.</p>
    </blockquote>
    <p>
        &dash;Jogging Baboon from <cite>BoJack Horseman</cite>
    </p>
</div>
{% assign sketchesByYears = collections.sketches | reverse | groupByYears %}
{% for sketchesByYear in sketchesByYears %}
<h2>{{sketchesByYear.year}}</h2>
<ul>
{% for sketch in sketchesByYear.items %}
    <li><a href="{{sketch.page.url}}">{{sketch.data.title}}</a></li>
{% endfor %}
</ul>
{% endfor %}